<div class="bg-white">
  <div class="container-md ">
    <footer class="p-10 px-md-0 py-md-11 d-md-flex">
      <div class="text-black">
        <h2 class="fs-4 font-shrikhand mb-2 mb-md-0 text-break">ALPHABOX+</h2>
        <p class="p-0 mb-0 fw-bold d-none d-md-block">Copyright © 2023 Hexschool.</p>
      </div>

      <div class="mb-2 mb-md-0 mx-md-auto">
        <img src="../assets/images/emergency.svg" alt="">
      </div>
      <ul class="nav flex-column flex-md-row gap-md-6 align-items-md-center">
        <li class="nav-item ">
          <a class="nav-link text-black fw-bold p-0 mb-2" href="#">關於我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black fw-bold p-0 mb-2" href="#">產品資訊</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black fw-bold p-0 mb-2" href="#">常見問題</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black fw-bold p-0 mb-2" href="#">隱私政策</a>
        </li>
      </ul>
      <p class="p-0 mb-0 fw-bold d-md-none">Copyright © 2023 Hexschool.</p>
    </footer>
  </div>
</div>