.navbar {
  &-border {
    height: 1px;
    z-index: 5;
    top: 68px;

    @media (min-width: 992px) {
      top: 80px;
    }
  }

  &-bg {
    @include gradient-y($primary, #11002d);

    @media (min-width: 992px) {
      background-image: none;
    }
  }

  &-dropdown {
    top: 68px;
    z-index: 5;
  }
}